@import url('https://fonts.googleapis.com/css2?family=Baloo+Tamma+2:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Skranji&display=swap');

:root{
    --fonte-titulos: 'Skranji', cursive;
    --fonte-principal: 'Baloo Tamma 2', cursive;
    
    --cor-caixa: #fff87b;
    --cor-sombra: rgb(88, 84, 84);

    /*
    --cor-rodape: rgb(210, 194, 200);
    */
}

body{
    background-color: white;
    font-family: var(--fonte-principal);
}

.c-titulo-principal{
    font-size: 1.6em;
    text-align: center;
    font-family: var(--fonte-titulos);
}

.c-titulo-principal > img{
    vertical-align: middle;
}

#c-caixa-principal{
    width: 290px;
    height: 470px;
    padding-bottom: 0px;
    padding-top: 36px;
    padding-right: 12px;
    padding-left: 12px;
    margin: auto;
    background-color: var(--cor-caixa);
    border-radius: 65px 15px;
    border: 1px solid black;
    box-shadow: 1px 1px 1px var(--cor-sombra);
}

#c-button-voltar{
    width: 50px;
    height: 50px;
    margin-left: 15px;
    margin-bottom: 12px;
    background-color: white;
    border-radius: 60px;
    cursor: pointer;
    box-shadow: 1px 1px 1px var(--cor-sombra);
}

@keyframes botão{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.05);
    }
}

#c-button-voltar:hover{
    color: red;
    animation-name: botão;
    animation-duration: .6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.c-button{
    width: 140px;
    height: 42px;
    padding: 15px;
    margin: auto;
    margin-bottom: 25px;
    font-size: 1em;
    background-color: white;
    border: 1px solid black;
    border-radius: 12px;
    text-align: center;
    cursor: pointer;
    box-shadow: 1px 1px 1px var(--cor-sombra);
}

.c-button:hover{
    color: red;
    animation-name: botão;
    animation-duration: .6s;
    animation-direction: alternate;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}

.c-button img{
    vertical-align: middle;
}